*{
    box-sizing: border-box;
}


body{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "h h h h"
                         "s s s s"
                         "n n n n"
                         "m m m m"
                         "f f f f";
    grid-template-rows: 2fr 1fr 1fr 4fr 0.5fr; 
    margin: 0;
}

header{
    grid-area: h;
    background-color: cornflowerblue;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    justify-content: center;
}
header h1{
    margin: 0;
    font-size: 5em;
    padding: 20px;
    color: white;
}

#sidebar{
    grid-area: s;
    display: flex;
    align-items:center;
}

#sidebar h2{
    margin: 0;
    color: black;
    font-size: 4em;
    padding: 20px;
}

#sidebar img{
    width: 150px;
    height: 150px;
    padding: 20px;
}

nav{
    grid-area: n;
    background-color: lightgreen;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul{
    list-style: none;
    width:40%;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    font-size: 1.8em;
    color: white;
}

main{
    grid-area: m;
    display:flex;
    flex-direction: column;
}

main table {
    border: 1px solid black;
    border-spacing: 0;
    width: 900px;
}

main table th, td{
    vertical-align: top;
    border: 1px solid black;
    text-align: left;
    font-size: 1.5em;
}

form {
    width: 400px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: #ccc;
    display:flex;
    flex-direction:column;
}
    form div {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
form label {
        width: auto;
        font-weight: bold;
        display: inline-block;
}
form input[type="text"]{
        width: 180px;
        padding: 3px 10px;
        border: 1px solid #f6f6f6;
        border-radius: 3px;
        background-color: #f6f6f6;
        margin: 8px 0;
}

.celdaOpciones {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}

#homeContainer a{
    padding:20px;
    font-size:2em;
    color: dodgerblue;

}
#homeDiv{
    display:flex;
    width:100%;
    justify-content:space-between;
    padding: 20px;
}

#homeDiv h2{
    font-size: 2em;
    margin:0;
}

#homeDiv p{
    font-size: 1.8em;
}




footer {
    grid-area: f;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
}

footer p{
    font-size: 2em;
    color: white;
}