
@{
    ViewData["Title"] = "Index";
}
<article id ="homeContainer">
    <div id="homeDiv">
        <h2>@ViewBag.Saludo</h2>
        <p>Fecha: <br /> @ViewBag.Fecha</p>
    </div>

    @Html.ActionLink("Ir a Empleados", "Index", "Empleado")
</article>

